-
    var tableValues = [
        ['СПС «Гюрза»', 'Пистолет', 'Россия', '1996', '9', '0,9'],
        ['ПЯ «Грач»', 'Пистолет', 'Россия', '2000', '9', '0,95'],
        ['FN Five-seveN', 'Пистолет', 'Бельгия', '1998', '5,7', '0,61'],
        ['Beretta Px4 Storm', 'Пистолет', 'Италия', '2004', '9', '0,79'],
        ['Glock 17', 'Пистолет', 'Австрия', '1982', '9', '0,625'],
        ['Mauser HSc mod.90T', 'Пистолет', 'Германия', '2005', '10', '0,6'],
        ['Streamer 1014', 'Пистолет', 'Турция', '2014', '9', '0,63'],
        ['Desert Eagle', 'Пистолет', 'Израиль', '1983', '12,7', '1,7'],
        ['ОЦ-38', 'Револьвер', 'Россия', '2002', '7,62', '0,82'],
        ['Р-92', 'Револьвер', 'Россия', '1991', '9', '0,52'],
        ['Colt Anaconda', 'Револьвер', 'США', '1990', '10,9', '1,5'],
        ['Smith & Wesson Model 500', 'Револьвер', 'США', '2003', '12,7', '1,6'],
        ['Ратник', 'Револьвер', 'Россия', '2006', '13', '0,5'],
        ['Mateba MTR-8', 'Револьвер', 'Италия', '1980', '9,1', '1,23'],
        ['ПП-91 "Кедр"', 'ПП', 'Россия', '1990', '9', '1,54'],
        ['ОЦ-02 «Кипарис»', 'ПП', 'СССР', '1972', '9', '1,6'],
        ['Kriss Super V', 'ПП', 'США', '2006', '11,51', '2,5'],
        ['HK MP7', 'ПП', 'Германия', '2001', '4,6', '1,8'],
        ['Cz Scorpion EVO 3 A1', 'ПП', 'Чехия', '2009', '9', '2,77'],
        ['АК-47', 'Автомат', 'Россия', '1947', '7,62', '3,8'],
        ['АК-74', 'Автомат', 'Россия', '1974', '5,45', '3,3'],
        ['M16', 'Автомат', 'США', '1956', '5,56', '2,88'],
        ['АДС', 'Автомат', 'Россия', '2009', '5,45', '4,6'],
        ['АС «Вал»', 'Автомат', 'Россия', '1987', '9', '2,5'],
        ['FN SCAR', 'Автомат', 'Бельгия', '2003', '5,56', '3,5'],
        ['FX-05 Xiuhcoatl', 'Автомат', 'Мексика', '2005', '5,56', '3,89'],
        ['Двустволка', 'Ружьё', 'Франция', '1738', '12', '3,5'],
        ['Mossberg 500', 'Ружьё', 'США', '1960', '12', '3,3'],
        ['Сайга', 'Карабин', 'Россия', '1970', '12', '3,6'],
        ['ВСС «Винторез»', 'Снайперская винтовка', 'СССР', '1987', '9', '2,6'],
        ['Barrett M98B', 'Снайперская винтовка', 'США', '2008', '8,6', '6,12'],
        ['Barrett M82', 'Снайперская винтовка', 'США', '1980', '12,7', '13,5'],
        ['СВД', 'Снайперская винтовка', 'СССР', '1963', '7,62', '4,3'],
        ['РПК-74', 'Ручной пулемёт', 'СССР', '1974', '7,62', '5'],
        ['Mark 48', 'Ручной пулемёт', 'Бельгия', '2003', '7,62', '8,2'],
        ['HK MG4', 'Ручной пулемёт', 'Германия', '2000', '5,56', '8,15'],
        ['HK MG5', 'Ручной пулемёт', 'Германия', '2009', '7,62', '10,1'],
        ['ПКП «Печенег»', 'Ручной пулемёт', 'Россия', '1995', '7,62', '8,2'],
        ['M240', 'Ручной пулемёт', 'Бельгия', '1956', '7,62', '12,29'],
        ['ГП-34', 'Гранатомёт', 'Россия', '2000', '40', '1,4'],
        ['M320', 'Гранатомёт', 'Германия', '2008', '40', '1,5'],
        ['АГС-40', 'Гранатомёт', 'Россия', '1990', '40', '32'],
        ['Mk 47 Striker', 'Гранатомёт', 'США', '2000', '40', '18'],
        ['РГ-6', 'Гранатомёт', 'Россия', '1993', '40', '5,6'],
        ['ГМ-94', 'Гранатомёт', 'Россия', '1990', '43', '5'],
        ['XM-25', 'Гранатомёт', 'США', '2010', '25', '6,35'],
        ['PAW-20 Neopup', 'Гранатомёт', 'ЮАР', '2006', '20', '6,2'],
        ['РПГ-7', 'Гранатомёт', 'СССР', '1961', '40', '6,3'],
        ['РПГ-28', 'Гранатомёт', 'Россия', '2007', '125', '13'],
        ['LAW 80', 'Гранатомёт', 'Англия', '1983', '94', '8']
    ]