extends _template
block variables
    - var title = 'Сайга'
    - var styl = 'sayga.css'

    -
        var dictMenu = { 'Главная': 'index.html',
        'Популярное оружие' : 'popular.html'
        }

block menu
    +createMenu(dictMenu, 'None')

block content
    article 
        section
                img(src= "img/Sayga.png")
                p.
                    «Сайга» — семейство охотничьих карабинов на базе автомата Калашникова,
                    выпускаются Концерном «Калашников».
                    Инженерами завода создано множество различных конструкций
                    гладкоствольного охотничьего оружия
                    12-го, 20-го, 345-го, 366-го и 410-го калибров,
                    а также нарезного под патроны
                    5,45×39 мм, 5,56×45 мм, 7,62×39 мм, .308Win, 9х19 «Парабеллум»,
                    также были выпущены небольшие эксклюзивные мини партии
                    под редкие советские патроны 5,6×39 мм и 9×53R мм,
                    причём первым в серии был «Сайга-5,6» под патрон 5,6×39,
                    выпущенный в 1974 году.
                br
                hr
                h3 Система
                p(class= 'system').
                    Охотничьи карабины Сайга изначально использовали в своей основе конструкцию автомата АК-74,
                    однако со временем претерпели ряд изменений и усовершенствований, направленных на улучшение характеристик.
                    От боевого оружия карабин отличается в первую очередь тем, что невозможно вести огонь очередями,
                    для чего изменены некоторые детали, а именно: отсутствует механизм автоспуска,
                    на затворной раме отсутствует прилив автоспуска, в ударно-спусковом механизме отсутствует замедлитель,
                    изменена конфигурация курка, шептала и переводчика-предохранителя,
                    изменена траектория подачи патронов из магазина в патронник.
                    Кроме того, изменён узел крепления магазина к оружию,
                    чтобы невозможно было вставлять в карабин магазин от боевого автомата, что, впрочем,
                    решается различными тюнинговыми мастерскими в зависимости от законодательства страны использования,
                    как путём переделки магазинов от боевого оружия, так и собственными разработками.
                    Приклад и цевьё карабина (в зависимости от исполнения) могут быть выполнены по типу классических охотничьих ружей,
                    либо копировать соответствующие узлы автомата Калашникова, и изготовляться из пластмассы или дерева.
                    Возможен также вариант установки рамочного приклада по типу автомата АКс-74 или винтовки СВД-С.
                    В случае если в исполнении карабина отсутствует пистолетная рукоятка управления огнём,
                    а спусковой крючок и его предохранительная скоба смещены ближе к шейке приклада охотничьего типа,
                    в спусковом механизме введена специальная тяга спуска. Ёмкость магазинов зависит от законодательства страны и типов патронов.